/* Admin dashboard Page */

.calendar_link:hover{
    color: #0a58ca !important;
}

.calendar{
    margin-bottom: 90px;
}

.calendar_table_global{
    border: 1px solid #CCC;
}

.calendar_table_global td{
    width: calc(100% / 7);
}

.calendar_table_global td p{
   cursor: pointer;
}

.calendar_weekday{
    font-weight: bold;
    color: #000;
    font-size: 1.2em;
}

.calendar_overmonth .calendar_day{
    opacity: 0.3;
}

.calendar_table_global td.is_today, .calendar_table td.is_today{
    background-color: #f3f3f3;
}

.calendar_table_global td.is_weekend, .calendar_table td.is_weekend{
    background-color: gray;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

.calendar_table_global td.is_today{
    font-weight: bold;
}

.calendar_button{
    display: block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #FFF;
    font-size: 30px;
    background-color: #007bff;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 6px 10px 0 #0000001a,0 1px 18px 0 #0000001a,0 3px 5px -1px #0003;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.calendar_button:hover{
    color: #FFF;
    text-decoration: none;
    transform: scale(1.2);
}

.printButton{
    font-size: 25px;
    text-align: left;
}

.calendar_table{
    width: 100%;
}

.calendar_table tbody td{
    padding: 10px;
    border: 1px solid #CCC;
    vertical-align: top;
    width: calc(100% / 7);
}

.calendar_table .calendar_day{
    font-size: 1.3em;
    color: #000;
    font-weight: bold;
}

/* Event Page */

.btn.btn-primary.form{
    border-radius: 50%;
}

.btn.btn-primary.form.remove{
   margin-left: 10px;
}

embed{
    min-height: 70vh;
}
