.logo{
    height: 70px;
}

.flag{
    height: 25px;
    margin: 0 5px;
}

.container{
    margin-bottom: 90px;
}

.toggler{
    position: relative;
}

.toggler-content{
    background-color: aqua;
    position: absolute;
    bottom: -70%;
}
